<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>880007565849-677onlkuajkg9fli8p1h5m1kd8oarog5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880007565849-677onlkuajkg9fli8p1h5m1kd8oarog5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvcCbsOkm-aMp-kUstAantJHHXZNql4RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>880007565849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muun.falcon.manu</string>
	<key>PROJECT_ID</key>
	<string>muun-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>muun-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880007565849:ios:2b21d2e1d82fb979</string>
	<key>DATABASE_URL</key>
	<string>https://muun-debug.firebaseio.com</string>
</dict>
</plist>