<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11965157440-ov5si5e8euqb006hubokah270tj1vhif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11965157440-ov5si5e8euqb006hubokah270tj1vhif</string>
	<key>API_KEY</key>
	<string>AIzaSyC3BMqyFqjDVib0i44b8GN9jRDh7VGw5EI</string>
	<key>GCM_SENDER_ID</key>
	<string>11965157440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muun.falcon</string>
	<key>PROJECT_ID</key>
	<string>muun-58bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>muun-58bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11965157440:ios:c7873f900631717f520fa5</string>
	<key>DATABASE_URL</key>
	<string>https://muun-58bf8.firebaseio.com</string>
</dict>
</plist>